body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* background-color: #161616; */
  background-color: #0c0b0b;
}
/* .navbar {
  height: 20vh;
  background-color: #161616;
  margin-top: 0;
  width: 100vw;
} */
.background-projects-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: max-content;
  transform: translateX(-500px);

  top: calc(30vh);
  height: max-content;
}
.background-projects {
  font: normal normal bold 201px Poppins;
  letter-spacing: 30.15px;
  color: #ffffff;
  opacity: 0.05;
  margin: 0 200px;
  padding: 20px 0;
  white-space: nowrap;
}
.backArrow {
  background-image: url(../assets/img/arrow_forward-24px.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px;
  height: 28px;
  width: 28px;
  margin-left: 5%;
  border: 1px white solid;
  border-radius: 50%;
  transition: 0.1s;
  transform: rotate(180deg);
  position: relative;
  right: 5vh;

  content: "";
}
.wrapper {
  height: 80vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-top: 20vh;
}
.inner {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;

  content: "";
  position: absolute;
  overflow-y: scroll;
}
.inner.active {
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.inner::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.inner {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.teams {
  word-wrap: none;
  width: 15vw;
  height: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 7vh;
  right: 0vw;
}

.team-name {
  cursor: pointer;
  word-break: keep-all;

  color: #ffffff80;
  font: normal normal 500 0.85em Poppins;
  font-family: "Poppins", sans-serif;
}
.highlighted {
  color: white;
  font-weight: 700;
}
.projects {
  height: 76vh;
  padding: 7vh 20vw 10vh 20vw;
  width: auto;
  display: flex;
  cursor: grab;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.projects.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.single_project {
  margin: 0 10vw 0 10vw;
  height: 46vh;
  width: 40vw;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}
.project_image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single_project img {
  width: 40vw;
  height: auto;
}
.single_project.active {
  transform: scale(0.9);
}
.project_name,
.video_name {
  height: 23vh;
  width: 25vw;
  position: relative;
  left: -5vw;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 900;

  top: -20vh;
  font-size: 3em;
  pointer-events: none;
}
.video_name {
  font-size: 2em;
}
.video {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  transition: 0.3s ease;
  left: 0;
}
.scrollbar_wrapper {
  top: 83vh;
  position: fixed;
  height: 17vh;
  width: 50vw;
  margin: 0 25vw 0 25vw;

  display: flex;
  justify-content: space-between;
}
.scrollbar_wrapper > div {
  height: 5vh;
  margin-bottom: 12vh;
}
#left_arrow,
#right_arrow {
  margin-top: calc(2.5vh - 0.3vw);
  content: "";
  width: 2vw;
  cursor: pointer;
}
#dotted_line_wrapper {
  width: 47vw;
  height: 7vh;
}
#dotted_line {
  width: 47vw;
  height: calc(2.5vh);
  background-image: linear-gradient(to right, #8f8f8f 5%, rgba(0, 0, 0, 0) 0%);
  background-position: bottom;
  background-size: 15px 1px;
  background-repeat: repeat-x;
}
#left_arrow {
  width: 0;
  height: 0;
  border-left: 0.3vw solid transparent;
  border-top: 0.3vw solid transparent;
  border-bottom: 0.3vw solid transparent;

  border-right: 0.3vw solid white;
}
#right_arrow {
  width: 0;
  height: 0;
  border-top: 0.3vw solid transparent;
  border-bottom: 0.3vw solid transparent;
  border-right: 0.3vw solid transparent;
  border-left: 0.3vw solid white;
}

#slider {
  cursor: grab;
  position: absolute;
  user-select: none;
  height: 1vw;
  width: 2vw;
  background-color: white;
  top: calc(2.5vh - 0.5vw);
  transition: transform 0.5s ease-in-out;
  border-radius: 2px;
  display: flex;
}
#slider.active {
  /* transform: scale(1.3); */
  cursor: grabbing;
}
#slider.left {
  transition: left 0.5s ease-in-out;
}
#white {
  height: 100%;
  width: 0%;
  background-color: white;
  transition: ease;
}
.page-number-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-number {
  color: white;
  font: normal normal 900 0.77vw Poppins;
  font-family: "Poppins", sans-serif;
  transition: color 0.1s ease-in-out;
}
#grey {
  height: 100%;
  width: 100%;
  background-color: #3c3c3c;
  transition: ease;
}

@media all and (max-width: 600px) {
  .background-projects {
    opacity: 0.09;
    font: normal normal bold 100px Poppins;
    letter-spacing: 10px;
    margin: 0 100px;
  }
  .wrapper {
    margin-top: 5vh;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inner {
    position: inherit;
    height: max-content;
  }
  .project_name,
  .video_name {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
    width: 55vw;
    height: max-content;
    top: -20vh;
    left: -8vw;
  }

  .single_project {
    width: 65vw;
    height: 60vh;
    margin: 0 7.5vw 0 7.5vw;
  }
  .single_project img {
    height: 100%;
    width: auto;
  }
  .projects {
    height: 65vh;
    padding: 7vh 10vw 0 10vw;
  }
  .teams {
    /* bottom: 5vh;
    right: auto;
    left: 10vw; */
    margin-top: 8vh;

    position: inherit;

    flex-direction: row;
    overflow-x: scroll;
    width: 80vw;
    padding-bottom: 2vh;
  }
  .team-name {
    white-space: nowrap;
    margin-right: 5vw;
    font-size: 12px;
  }
  .scrollbar_wrapper {
    width: 80vw;
    margin: 0 10vw;
    height: 7vh;
    top: 77vh;
  }
  #left_arrow {
    border-left: 2vw solid transparent;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-right: 2vw solid white;
  }
  #right_arrow {
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-right: 2vw solid transparent;
    border-left: 2vw solid white;
  }
  #dotted_line_wrapper {
    height: 5vh;
    width: 65vw;
  }
  #dotted_line {
    width: 65vw;
    height: 3.5vh;
  }
  #slider {
    height: 4vw;
    width: 8vw;
    background-color: #3c3c3c;
    top: calc(3.5vh - 2vw);
  }
  #page-number {
    letter-spacing: 1.65px;
    font-size: 11px;
    text-align: center;
  }
}
