* {
  scrollbar-width: thin;
  scrollbar-color: #5a5a5a #050505;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #050505;
}

*::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 20px;
  border: 3px solid #050505;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.wrapper {
  background-color: #050505;
  box-sizing: border-box;
  color: #fafafa;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20vh;
  padding-bottom: 5vh;
}
.contentWrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100vw;
}
.heading {
  color: white;
  font-size: 50px;
  font-family: "Poppins";
  text-align: center;
}
.leftwrapper {
  margin-top: 10vh;
  height: auto;
  width: 35%;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
}
.rightwrapper {
  margin-top: 50vh;
  height: auto;
  width: 35%;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
}
.blog {
  margin-top: 6vh;
}
.blogimage {
  margin-top: 8vh;
  position: relative;
  z-index: 10;
  height: auto;
  width: 35vw;
  background: transparent;
}
.blogimages {
  width: 35vw;
  height: auto;
  cursor: pointer;
  border-radius: 4px;
}
.bloginfo {
  width: 35vw;
  font-family: "Poppins";
}
.blogtitle {
  margin-top: 4vh;
  font: normal normal 600 24px/36px Poppins;
  cursor: pointer;
}
/* .blogtitle::after {
  position: absolute;
  margin-top: 1.5vh;
  margin-left: 10px;
  content: "";
  height: 1px;
  width: 5vw;
  background: white;
  transition: 0.5s;
} */
.blogtitle:hover:after {
  width: 10vw;
}
.blogby {
  margin-top: 2vh;

  font: normal normal normal 16px/25px Poppins;
  opacity: 0.96;
}
.blogdate {
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #707070;
}
.blogbrief {
  margin-top: 2vh;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0.03px;
  color: #ffffffb3;
}
.simpleParallax {
  width: 35vw;
  height: 80vh;
  border-radius: 4px;
}
.blogMore {
  pointer-events: none;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, 0);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  color: #ffffff;
  font-size: 13px;
  font-family: "Poppins";
  align-items: center;
  text-align: center;
  justify-content: center;
  display: none;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
@media all and (max-width: 1000px) {
  .simpleParallax {
    width: 35vw;
    height: 80vh;
  }
  .leftwrapper {
    margin-top: 10vh;
    height: auto;
    width: 35%;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
  }
  .rightwrapper {
    margin-top: 50vh;
    height: auto;
    width: 35%;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
  }
  .blog {
    margin-top: 6vh;
  }
  .blogimage {
    margin-top: 8vh;
    position: relative;
    z-index: 10;
    height: auto;
    width: 10vw;
    background: transparent;
  }
  .blogimages {
    width: 35vw;
    height: auto;
  }

  .bloginfo {
    width: 25vw;
  }
}
@media all and (max-width: 600px) {
  /* .ham {
    width: 20%;
    position: relative;
    left: 7vw;
  } */
  .contentWrapper {
    flex-direction: column;
  }
  .simpleParallax {
    width: 70vw;
    height: auto;
  }
  .leftwrapper {
    margin-top: 10vh;
    height: auto;
    width: 70%;
    padding-left: 15vw;
    display: flex;
    flex-direction: column;
  }
  .rightwrapper {
    margin-top: 0vh;
    height: auto;
    width: 70%;
    padding-left: 15vw;
    display: flex;
    flex-direction: column;
  }
  .blog {
    margin-top: 6vh;
  }
  .blogimage {
    margin-top: 8vh;
    position: relative;
    z-index: 10;
    height: auto;
    width: 10vw;
    background: transparent;
  }
  .blogimages {
    width: 70vw;
    height: auto;
  }
  .blogtitle {
    font: normal normal bold 18px/27px Poppins;
  }
  .blogbrief {
    font: normal normal normal 16px/25px Poppins;
  }
  .blogby {
    font: normal normal 300 14px/21px Poppins;
  }
  .blogdate {
    font: normal normal normal 12px/18px Poppins;
  }
  .bloginfo {
    width: 70vw;
  }
  .blogby {
    margin-top: 1vh;
  }
  .blogMore {
    display: none !important;
  }
}
