.html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
}

.wrapper {
    background-color: black;
    box-sizing: border-box;
    color: #fafafa;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 20vh;
    padding-bottom: 5vh;
}
.contentWrapper{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100vw;
}
.heading{
    color: white;
    font-size: 50px;
    font-family: 'Poppins';
    text-align: center;

}
.leftwrapper{
    margin-top: 10vh;
    height: auto;
    width: 25%;
    padding-left: 20vw;
    display: flex;
    flex-direction: column;
}
.rightwrapper{
    margin-top: 50vh;
    height: auto;
    width: 25%;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
}
.blog{
    margin-top: 6vh;
}
.blogimage{
    margin-top: 8vh;
    position: relative;
    z-index: 10;
    height: auto;
    width: 10vw;
    background:transparent;
}
.blogimages{
    width: 25vw;
    height: auto;
}
.bloginfo{
    width: 25vw;
    font-family: 'Poppins';
}
.blogtitle{
    margin-top: 2vh;
    font-size: 15px;
}
.blogtitle::after {
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 10px;
    content: '';
    height: 1px;
    width: 5vw;
    background: white;
    transition: 0.5s;
}
.blogtitle:hover:after {
    width: 10vw;
}
.blogby{
    margin-top: 2vh;
    font-size: 10px;
    opacity: 0.5;
}
.blogbrief{
    margin-top: 2vh;
    font-size: 13px;
}
.simpleParallax{
    width: 25vw;
    height: 80vh;
}
.blogMore{
    z-index: 100;
    position:absolute;
    transform:translate(-50%,-50%);
    height:100px;
    width:100px;
    border-radius:50%;
    border:1px solid white;
    color: #FFFFFF;
    font-size: 13px;
    font-family: 'Poppins';
    align-items: center;
    text-align: center;   
    justify-content: center;
    display: none;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
@media all and (max-width: 1000px){
    .simpleParallax{
        width: 35vw;
        height: 80vh;
    }
    .leftwrapper{
        margin-top: 10vh;
        height: auto;
        width: 35%;
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
    }
    .rightwrapper{
        margin-top: 50vh;
        height: auto;
        width: 35%;
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
    }
    .blog{
        margin-top: 6vh;
    }
    .blogimage{
        margin-top: 8vh;
        position: relative;
        z-index: 10;
        height: auto;
        width: 10vw;
        background:transparent;
    }
    .blogimages{
        width: 35vw;
        height: auto;
    }
    
.bloginfo{
    width: 25vw;
}
}
@media all and (max-width: 600px) {
    .ham {
      width: 20%;
      position: relative;
      left: 7vw;
    }
    .contentWrapper{
        flex-direction: column;
    }
    .simpleParallax{
        width: 70vw;
        height: 80vh;
    }
    .leftwrapper{
        margin-top: 10vh;
        height: auto;
        width: 70%;
        padding-left: 15vw;
        display: flex;
        flex-direction: column;
    }
    .rightwrapper{
        margin-top: 0vh;
        height: auto;
        width: 70%;
        padding-left: 15vw;
        display: flex;
        flex-direction: column;
    }
    .blog{
        margin-top: 6vh;
    }
    .blogimage{
        margin-top: 8vh;
        position: relative;
        z-index: 10;
        height: auto;
        width: 10vw;
        background:transparent;
    }
    .blogimages{
        width: 70vw;
        height: auto;
    }
    
    .bloginfo{
        width: 60vw;
    }

}