.html{
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100vw;
    background-color: black;
    box-sizing: border-box;
    color: #fafafa;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 20vh;
    padding-bottom: 5vh;
}


.activeblog{
    align-items: center;
    align-content: center;
    height: auto;
    width: 60vw;
    padding-left: 10vw;
}

.blogtitle{
    color: white;
    font-size: 30px;
    font-family: 'Poppins';
}

.blogimage{
    margin-top: 2vh;
    background-color: green;
    width: 60vw;
    height: 35vw;
}

.intro{
    margin-top: 3vh;
    color: #FFFFFF;
    font-size: 15px;
    text-align: left;
    font-family: 'Open-Light';
}

.iconholder{
    background-color: #2C2C2C;
    margin-right: 2vw;
    margin-top: 2vh;
    float: left;
    display: block;
    height: 7vh;
    width: 10vh;
    font-size: 40px;
    border-radius: 10%;
    opacity: 0.5;
}

.socialmedia{
    display: block;
    width: 70vw;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Poppins';
}

.content{
    display: block;
    position: relative;
    margin-top: 12vh;
    color: #FFFFFF;
    font-size: 15px;
    text-align: left;
    font-family: 'Open-Light';
}
h1{
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
}

.leftblog{
    margin-top: 2vh;
    float: left;
}

.rightblog{
    margin-top: 2vh;
    float: right;
}
.circle{
    transform-origin: 50% 50%;
    border: white 2px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
   
}

.arrow{
    padding-top: 8px;
    padding-left: 10px;
}



a{
    text-decoration: none;
    color: white;
}



.recentBlogs{
    height: auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 12vh;
}
.recentBlogHeading{
    color: white;
    font-size: 20px;
    font-family: 'Poppins';
}
.linktoallblogs:after {
    position: absolute;
    margin-top: 4vh;
    margin-left: -8.5vw;
    content: '';
    height: 2px;
    width: 5vw;
    background: white;
    transition: 0.5s;
  }
  .linktoallblogs:hover:after {
    width: 10vw;
  }

.otherPostImage{
    width: 20vw;
    height: 20vh;
    background-color: white;
}
.otherPostHeading{
    margin-top: 2vh;
    color: white;
    font-size: 17px;
    font-family: 'Poppins';
}

.recentBlogsPost{
    margin-top: 4vh;
}