/* @font-face {
    font-family: 'test';
    src: url(../assets/fonts/Jaapokkisubtract-Regular.otf);
} */
/* html {
  scroll-behavior: smooth;
} */
html {
  scrollbar-width: none;
}
body {
  overflow-x: hidden;
  background-color: black;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
.navbarSide {
  z-index: 116;
}
.wrapper {
  height: auto;
  width: 100vw;
  background-color: #050505;
  box-sizing: border-box;
  color: #fafafa;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.arrow-container {
  width: 18px;
  opacity: 0.5;
  position: absolute;
  top: 90vh;
  /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
  height: 20px;
}

.arrow-down {
  height: 6px;
  background: rgb(97, 97, 97);
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  border-radius: 5px;
}
.arrow-down:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 100%;
  border-radius: 5px;
  background: gray;
  transform: rotate(-90deg);
  transform-origin: 0% 100%;
}

@keyframes bounce {
  50% {
    transform: translateY(-15px);
  }
}

.page {
  min-height: 100vh;
  height: max-content;
  overflow: hidden;
  box-sizing: border-box;
  padding: 12px;
}

#contact-wrapper {
  height: max-content;
  padding: 0 12px 0 12px;
}
#footer-wrapper {
  position: relative;
  bottom: 0;
  height: max-content;
  /* Comment lines below in this style */
  color: white;

  font: normal normal medium 24px/29px Gilroy;
  text-align: center;
  font-family: "Poppins";
  margin-top: 20vh;
  padding: 24px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0d0d 0% 0% no-repeat padding-box;
}

.dot {
  width: 4px;
  height: 4px;
  background: white 0% 0% no-repeat padding-box;
  border: 1px solid white;
  opacity: 1;
  border-radius: 50%;
  transition: 0.5s ease;
  cursor: pointer;

  display: flex;
}

.dot-active {
  height: 152px;
  width: 0px;
  border: 3px solid white;
  border-radius: 4px;
}

.enlarge {
  transition: 0.1s ease;
}

.enlarge:hover {
  width: 10px;
  height: 10px;
  background: black;
  border: 3px solid white;
}

.section-heading {
  position: relative;
  letter-spacing: 3px;
  left: 10vw;
  height: 29px;
  width: auto;
  font-size: 24px;
  font-family: "Gilroy";
  font-weight: 900;
} /* 
.section-end-heading {
  position: absolute;
  letter-spacing: 3px;
  right: 10vw;
  height: 29px;
  width: auto;
  font-size: 24px;
  font-family: "Gilroy";
  font-weight: 900;
  color: white;
  transform: translateX(100px);
  opacity: 0;
} */
/* .section-end-heading::after {
  position: absolute;
  margin-top: 4vh;
  margin-left: -11vw;
  content: "";
  height: 2px;
  width: 5vw;
  background: white;
  transition: 0.5s;
}
.section-end-heading:hover:after {
  width: 10vw;
} */
.section-info {
  position: relative;
  left: 20vw;
  top: 5vh;
  height: auto;
  width: 50%;
  text-align: left;
  font-size: 16px;
  font-family: "Poppins";
}
#about-wrapper {
  position: relative;
  margin: 5vh 0 5vh 0;
}

/* .about-heading{
    font: normal normal 600 40px/60px Poppins;
    letter-spacing: 0px;
    margin-bottom:4vh;
} */

.about-background-container {
  display: flex;
  width: max-content;
  flex-direction: row;
  overflow-x: hidden;

  transform: translateX(-500px);
  position: absolute;
  top: calc(100px + 125vh);
  height: 223px;
}
.about-background {
  font: normal normal bold 201px/122px Poppins;
  letter-spacing: 30.15px;
  color: #ffffff;
  opacity: 0.07;
  margin: 0 100px;
  padding: 20px 0;
  white-space: nowrap;
}
.backContentWrapper {
  width: 100vw;
  margin-top: 70px;
  /* height: 50vh; */

  display: flex;
  justify-content: center;
}
.backContent {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.about-info-1,
.about-info-2 {
  width: 30vw;
  /* height: 50vh; */
  word-wrap: break-word;
  overflow: hidden;
  text-align: left;
  margin-right: 25vw;
  font: normal normal normal 16px/25px Poppins;
  /* transform: translateX(100px); */
  opacity: 0;
}

.about-info-1 {
  transform: translateX(-100px);
}

.about-info-2 {
  transform: translateX(100px);
}

.about-picture {
  width: 15vw;
  height: 15vw;
  background-color: #2c2c2c;
  border-radius: 2px;
  margin-top: 100px;
  transform: translateX(100px);
  opacity: 0;
}
.frontContent {
  width: 50vw;
  position: absolute;
  top: 0;
  margin-top: calc(9vw + 100px);
  right: 0;
  height: auto;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}
.frontContentWrapper {
  display: flex;
  flex-direction: column;
}
.about-info-2 {
  margin-right: 10vw;
  height: auto;
}
.about-icons {
  margin-right: 10vw;
  width: 30vw;
  height: auto;
  display: flex;
  margin-top: 6vh;
}
.icon {
  margin-right: 3vw;
  width: 21px;
  /* border-radius: 50%; */
  /* content: ""; */
  /* background-color: white; */
  /* opacity: 0; */
  /* transform: translateX(100px); */
}

.icon-container {
  opacity: 0;
  transform: translateX(100px);
}

.our-achievements {
  margin-top: 20vh;
  display: flex;
  justify-content: space-around;
}
.achievement {
  height: 144px;
  width: 144px;
  border: 4px solid white;
  border-radius: 50%;
}

.infoContainer {
  display: flex;
  position: relative;
  top: 15vh;
  padding: 1% 9%;
  font-family: poppins;
  font-size: 0.9em;
}

.infoElements {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}

.infoTextContainer {
  height: 26%;
  margin: 14% 0;
  overflow: hidden;
}

.number {
  position: relative;
  top: 30px;
  left: 25px;
  font-size: 55px;
  font-family: "Poppins", serif;
  font-weight: 900;
}
.info {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
}
.heading-text {
  width: 184px;
  height: auto;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 700;
}
.info-text {
  width: 244px;
  height: auto;
  font-size: 14px;
  font-family: "Poppins";
}
.random {
  position: fixed;
  height: 40vh;
  top: 25vh;
  left: 0;
  right: 0;
  display: none;
  transition: 0.5s ease-in-out;
  transform-origin: center;
  transform: scaleX(0);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 10000000000000;
  font-size: 20px;
  font-family: "Poppins";
}
.random > div {
  width: max-content;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4vh 3vw;
  justify-content: center;
  align-items: center;
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  border-radius: 5px;
}
.random > div > div {
  max-width: 80vw;
  text-align: center;
}
.random img {
  margin-bottom: 2vh;
  border-radius: 5px;
}
#contact {
  height: max-content;
  padding: 12px 0 0 0;
}
.form-wrapper {
  height: 50%;
  margin-top: 15vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  transform: translateY(100px);
  opacity: 0;
}

.form-element {
  background: #0d0d0d 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 10px;
  margin-bottom: 2.5vh;
}
.inputs {
  height: 45px;
  width: 30vw;
}
.textarea {
  width: 30vw;
  height: 150px;
}
.button {
  width: 15vw;
  height: max-content;
  color: #cccccc;
  border: 3px solid #0d0d0d;
  cursor: pointer;
}

input,
textarea {
  caret-color: #cccccc;
  color: #cccccc;
  padding-left: 20px;
  padding-right: 20px;
}
textarea {
  padding: 20px 20px;
  font-family: "Poppins";
  font-size: 14px;
}
input::placeholder,
textarea::placeholder {
  font-family: "Poppins";
  font-size: 14px;
}
input:focus,
textarea:focus {
  outline: none;
}
#submit-button > button {
  transition: 0.3s ease-in-out;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
#submit-button > button:hover {
  border-color: #cccccc;
}
.form-pic {
  height: 30vw;
  width: 30vw;
  border-radius: 5px;
  background-image: url("../assets/img/clint-patterson-dYEuFB8KQJk-unsplash@2x.png");
  background-position: center;
  background-size: cover;
}
#video-wrapper {
  height: max-content;
  min-height: 100vh;
}
.video-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  padding: 0 5vw;
}
.video-row {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 0 2.5vw;
}

.video {
  width: 35vw;
  height: 40vh;
  border: 0;
  margin: 2vh 0 2vh 0;
  border-radius: 1px;
}
.video-name {
  font: normal normal 900 24px/35px Gilroy;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#blog-wrapper {
  height: 100vh;
}
.scrolling-wrapper {
  height: 70vh;
  width: 80vw;
  display: flex;
  overflow-x: scroll;
  cursor: grab;
  transition: all 0.2s;
  transform: scale(0.98);
}

/* .scrolling-wrapper .card {
  display: inline-block;
} */

.card {
  margin-top: 5vh;
  margin-left: 2.5vw;
  width: 60vw;
  height: 50vh;
  /* cursor: none; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  transform: scale(0.98) translateY(100px);
  opacity: 0;
}

.card.active {
  /* cursor: none; */

  transform: scale(0.5);
}
.scrolling-wrapper.active {
  cursor: grabbing;
}
.card:first-child {
  margin-left: 0vw;
}

.blogimage {
  /* float: right; */
  height: 50vh;

  width: 50vw;
  background-color: transparent;
  transition: 0.4s ease-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogimage > img {
  /* height: auto;
  width: 100%; */
  height: 50vh;
  width: auto;
  border-radius: 5px;
}
.blogimage.active {
  transform: scale(0.9);
}
.blogtitle {
  cursor: pointer;
  z-index: 20;
  margin-right: -15vw;
  height: max-content;
  width: 16vw;

  padding: 3vh 3vw;
  border-radius: 3px;
  backdrop-filter: blur(15px);
  background-color: rgb(44 44 44 / 70%);
  transition: background-color 1s ease-in-out;
}
.blogtitle:hover {
  background-color: rgb(44 44 44 / 86%);
}
.blogtitletitle {
  font-size: 15px;
  width: 100%;

  font-family: "Poppins";
  font-weight: 600;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
}

.blogby {
  padding-top: 0.5vh;
  width: 100%;
  color: #ffffff;
  font-size: 13px;
  font-family: "Poppins";
  opacity: 0.5;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
}

.blogDragDiv {
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid white;
  color: #ffffff;
  font-size: 13px;
  font-family: "Poppins";
  align-items: center;
  text-align: center;
  justify-content: center;
  display: none;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.scrolling-wrapper {
  transform: scale(0.8);
  transform-origin: bottom;
  width: 100vw;
  /* margin-left: 10vw; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

#artworks-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.artwork-container {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  /* top: 20vh; */
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  width: 90vw;
  transform: translateY(100px);
  opacity: 0;
}

.artwork-left {
  position: relative;
  height: max-content;
  width: 30%;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.artwork-counter {
  font: normal normal normal 16px/25px Poppins;
  font-size: 3vh;
  margin: 2vh 0;
}

.artwork-right {
  width: 70%;
}

.arrows {
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6vw;
  height: 10vh;
  /* left: 10%; */
  /* background-color: red;  */
}

.artwork-arrows {
  position: relative;
  /* top: 30vh; */
}

.left-arrow,
.right-arrow {
  width: 5vh;
  height: 5vh;
  transition: all 0.2s ease;
}

.left-arrow > img,
.right-arrow > img {
  width: 100%;
  cursor: pointer;
}

.artwork-title-container {
  height: max-content;
  overflow: hidden;
  overflow-x: visible;
  z-index: 10;
  width: max-content;
}

.artwork-title {
  top: 0;
  width: max-content;
  font-family: "Poppins";
  height: max-content;
  /* font-size: 7vh; */
  font-size: 50px;
  padding-top: 10vh;
  padding-bottom: 3vh;
  line-height: 60px;
  display: none;
}

.artwork-name-container {
  height: 5vh;
  overflow: hidden;
  z-index: 10;
  width: 20vw;
  /* margin-bottom: -5vh; */
}

.artwork-name {
  top: 0;
  width: 20vw;
  font-family: "Poppins";
  height: 5vh;
  font-size: 3vh;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 25px;
  display: none;
}

.artwork-links-container {
  height: 4vh;
  overflow: hidden;
  /* background-color: red; */
  z-index: 10;
  width: 20vw;
  /* margin-top: 1vh; */
}

.artwork-links {
  top: 0;
  width: 20vw;
  font-family: "Poppins";
  height: 4vh;
  font-size: 3vh;
  display: flex;
}

.artwork-individual-link {
  height: 100%;
  margin-right: 2vw;
  opacity: 0.5;
}

.link-icon {
  cursor: pointer;
  height: 3vh;
}

.artwork-scroller {
  display: flex;
  position: relative;
  width: max-content;
  overflow: hidden;
}

.artwork-scroll-individual {
  z-index: 2;
  min-width: 1.5vw;
  background-color: #2b2b2b;
  height: 4px;
  /* border: 0.1vw solid #636363; */
  cursor: pointer;
}

.active-scroll {
  width: 1.5vw;
  /* border: 2px solid white; */
  height: 4px;
  background-color: white;
  left: 0;
}

.artwork-carousel {
  height: 60vh;
  width: 60vw;
  position: relative;
  top: 0vh;
  /* left: 40vw; */
  overflow: hidden;
  margin-left: -10vw;
}
.artwork-img-container {
  position: relative;
  height: 100%;
  left: 0;
  /* min-width: 100%; */
  width: 300vw;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  white-space: nowrap;
  display: flex;
}

.artwork-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  white-space: normal;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.artwork-img:hover {
  transform: scale(1.4);
}

.artwork-img > img {
  width: 100%;
}
.heightClass {
  height: 5vh;
  opacity: 0;
  transform: translateX(100px);
}
.gear-background-svg {
  top: 300vh;
  position: absolute;
  left: -35vw;
}
.gear-background {
  fill: #1616169c;
}
.show-all-container {
  width: 92vw;
  margin-right: 8vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.show-all {
  z-index: 116;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  word-wrap: none;
  font-size: 16px;

  font-family: "Gilroy";
  cursor: pointer;
  opacity: 0;
  transform: translateX(100px);
}
.show-all-text {
  font: normal normal medium 16px/25px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  /* transform: translateX(15px); */
}
.show-all-arrow {
  height: 20px;
  margin-left: 0.6vw;
  opacity: 0.7;
  /* transform: translateX(23px);
  transition: 0.5s ease-in-out; */
}
.show-all-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: solid 2px white;
}
/* .show-all:hover .show-all-arrow {
  transform: translateX(50px);
} */
.projects-page {
  height: max-content;
}
.projects-page .section-heading {
  font: normal normal 600 40px/60px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 10vh;
}
.project-heading1,
.project-heading2 {
  font: normal normal bold 60px/129px Gilroy;
  color: #ffffff;

  width: 100%;
  text-align: center;
  opacity: 0;
  transform: scale(1.5);
}

.mobile11,
.mobile21 {
  opacity: 0;
  transform: translateX(-100px);
}

.mobile12,
.mobile22 {
  opacity: 0;
  transform: translateX(100px);
  width: 40vw;
}

.project-info {
  display: flex;
  width: auto;
  height: max-content;
  padding-bottom: 2vh;
  color: #ffffffb5;
}
.projectsFirstContainer {
  display: flex;
  /* overflow: hidden; */
  margin-left: 7vw;
  margin-right: 3vw;
  font-family: Poppins, Gilroy;
  width: 40vw;
  overflow: hidden;
  justify-content: center;
  /* height: 70vh; */
}
.projects-page h4,
.projects-page p {
  margin: 0;
}
.projects-page h4 {
  font: normal normal 600 1.2em Poppins;
}
.projectsFirstContainer img {
  width: auto;
  height: 45vh;
  background-position: center;
}

.project-view-more {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 2vh;
  font-weight: bold;
  font-size: 1em;
}

.project {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100vw;
}

.projectsSecondContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40vw;
  padding-bottom: 5%;
  /* height: 70vh; */
  margin-right: 7vw;
  margin-left: 3vw;
  font-family: Poppins, Gilroy;
}

.projectsSecondContainer img {
  padding-top: 20vh;
  padding-left: 0;
  /* height: 30vh; */
}

.projectsSecondTextContainer1,
.projectsSecondTextContainer2 {
  padding-top: 10vh;
  opacity: 0;
  transform: translateY(100px);
  width: 30vw;
  margin-left: 10vw;
}

.projectArrow {
  /* background-image: url(../assets/img/arrow_forward-24px.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 4px; */
  height: 1.5em;
  /* width: 28px; */
  margin-left: 1.25vw;
  padding-top: 0 !important;
}

/* .projectArrow:hover {
  border: 1px transparent solid;
  transform: translateX(20px);
} */

/* .animate {
  animation: animate .3s ease-in-out forwards;
}

@keyframes animate {
  from {
    background-color: cornflowerblue;
    border-radius: 0;
  }
  to {
    background-color: green;
    border-radius: 100px;
  }
} */

@media all and (max-width: 1024px) {
  .inner-wrapper {
    margin: 2vh 0 2vh 0;
  }
  .section-info {
    width: 80%;
    left: 0;
  }
  .section-heading {
    left: 0;
  }
  .section-end-heading {
    right: 0;
  }
  .achievements {
    height: 200vh;
  }
  .our-achievements {
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    margin-top: 10vh;
  }
  .achievement:not(:first-of-type) {
    margin-top: 35vh;
  }
  .info {
    top: 50%;
  }
  .heading-text {
    position: relative;
    left: -5vw;
  }
  .info-text {
    width: 90vw;
    position: relative;
    left: -25vw;
  }
  .form-pic {
    display: none;
  }
  #contact {
    min-height: 0;
  }
  .inputs,
  .textarea {
    width: 75vw;
  }
  .button {
    width: 37.5vw;
  }

  #about {
    min-height: 100vh;
    height: fit-content;
    padding: 20px;
  }
  #about-wrapper {
    margin-top: 1vh;
    margin-bottom: 0;
    height: calc(100vh - 24px);
  }
  .about-background-container {
    top: calc(120px + 125vh);
    transform: translateX(-100px);
  }
  .about-background {
    opacity: 0.09;
    font: normal normal bold 100px/122px Poppins;
    letter-spacing: 15px;
  }
  .backContentWrapper {
    margin: 10px 2vw;
    width: auto;
  }
  .backContent {
    width: 100%;
  }
  .ml6 {
    margin: 0;
  }
  .ml6 .text-wrapper {
    padding-top: 0;
  }
  .ml6 .letters {
    font: normal normal 600 24px/35px Poppins;
  }
  .frontContent {
    width: auto;
    top: 35vh;
    padding: 0 2vw;
  }
  .about-picture {
    top: 30vh;
    position: absolute;
    right: 4vw;
    width: 40vw;
    height: 40vw;
  }
  .about-info-1,
  .about-info-2 {
    width: 100%;
    height: auto;
    max-height: 40vh;
    margin-right: 0;
    margin-left: 0;
  }
  .about-icons {
    margin-top: 5vh;
    width: auto;
  }
  .icon {
    /* height: 8vw;
    width: 8vw; */
    cursor: pointer;
    width: 20px;
    margin-right: 7vw;
    transform: translateX(0);
  }
  .projects-page {
    padding: 20px;
    height: max-content;
  }
  .section-heading {
    font-size: 24px !important;
    /* line-height: 122px; */
    font-weight: medium;
    letter-spacing: 0px;
    line-height: 0;
    text-transform: uppercase;
  }
  .show-all-container {
    width: calc(99vw - 40px);
    margin-right: 1vw;
  }
  .show-all {
    width: max-content;
    opacity: 0.5;
    font-size: 15px;
  }
  /* .show-all:hover .show-all-arrow {
    transform: translateX(18px);
  } */
  .show-all-text {
    font: normal normal medium 12px/18px Poppins;
    letter-spacing: 0px;
    color: #ffffff;
    /* transform: translateX(18px); */
    /* transform: translateX(10px); */
    white-space: nowrap;
  }
  .show-all-arrow {
    /* width: 30px; */
    height: 18px;
    margin-left: 2vw;
    opacity: 0.6;
    /* transform: translateX(18px); */
  }
  .show-all-circle {
    border: solid 1px white;
    width: 20px;
    height: 20px;
  }
  .projects-page .section-heading {
    line-height: 0;
    margin-top: 1vh;
  }
  .project {
    width: auto;
    padding: 0 20px;
    margin-top: 3vh;
    height: max-content;
  }
  .project-heading1,
  .project-heading2 {
    font-size: 32px;
    /* line-height: 94px; */
    line-height: 45px;
    margin-bottom: 3vh;
    text-align: center;
  }
  .project-info {
    flex-direction: column;
    height: max-content;
  }
  .projectsFirstContainer {
    padding-left: 0;
    height: max-content;
    margin-left: -40px;
    width: max-content;
  }
  .projectsFirstContainer > img {
    height: auto;
    width: 80vw;
  }
  .projectsSecondContainer {
    margin-left: 0;
    margin-top: 3vh;
    padding-right: 0;
    padding-bottom: 0;
    height: max-content;
    width: max-content;
  }
  .projectsSecondTextContainer1,
  .projectsSecondTextContainer2 {
    padding-top: 4vh;
    width: 80vw;
    margin-left: 0;
  }
  .projectsSecondContainer img {
    margin-top: 7vh;
    padding-top: 0;
    margin-left: 10vw;
    margin-right: -40px;
    padding-left: 0;
    padding-right: 0;
    /* height: 30vh; */
  }
  .projectsSecondContainer > img {
    width: calc(90vw - 40px);
  }
  .infoHead1,
  .infoHead2 {
    font: normal normal 600 13px/20px Poppins;
  }
  .infoHead1 p,
  .infoHead2 p {
    font: normal normal 100 13px/20px Poppins;
  }
  .projectArrow {
    height: 22px;
    margin: 0 !important;
    margin-left: 3vw !important;
  }
  .project-view-more {
    font-weight: normal;
    font-size: 15px;
  }
  #video-wrapper {
    min-height: max-content;
  }
  .video-wrapper {
    flex-direction: column;
  }
  .video-row:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  .video {
    margin: 10vh 0 2vh 0;
    width: 80vw;
    height: 20vh;
  }
  .video-wrapper {
    margin-top: -5vh;
    margin-bottom: 7vh;
  }
  .video-name {
    font: normal normal 500 20px/30px Gilroy;
  }
  .artwork {
    margin-bottom: 5vh;
    height: max-content;
  }
  #artworks-wrapper {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .artwork-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* top: 20vh; */
    width: 100%;
    margin-top: 5vh;
    transform: translateY(100px);
    opacity: 0;
  }
  .artwork-left > div {
    width: 100%;
    margin-bottom: 3vh;
    height: max-content;
  }
  .artwork-left {
    position: relative;
    height: 100%;
    width: 85vw;
    padding: 2vh 7.5vw 5vh 7.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .artwork-counter {
    font: normal normal normal 16px/25px Poppins;
    font-size: 2vh;
    margin: 1vh 0;
  }

  .artwork-right {
    width: 100%;
  }

  .arrows {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20vw);
    /* height: 10vh; */
    height: max-content;
  }

  .artwork-arrows {
    position: relative;
    margin-top: 2vh;
    /* top: 30vh; */
  }

  .left-arrow,
  .right-arrow {
    width: 5vh;
    height: 5vh;
    transition: all 0.2s ease;
  }

  .left-arrow > img,
  .right-arrow > img {
    width: 100%;
    cursor: pointer;
  }

  .artwork-title-container {
    /* height: 12vh; */
    height: 50px;
    overflow: hidden;
    z-index: 10;
    width: 90vw;
  }

  .artwork-title {
    top: 0;
    width: 90vw;
    font-family: "Poppins";
    /* height: 20vh; */
    height: max-content;
    /* font-size: 4vh; */
    font-size: 18px;
    line-height: 27px;
    display: none;
    padding: 0;
  }

  .artwork-name-container {
    height: 6vh;
    overflow: hidden;
    z-index: 10;
    width: 90vw;
    margin-top: 1vh;
    margin-bottom: 2vh !important;
  }

  .artwork-name {
    top: 0;
    width: 90vw;
    font-family: "Poppins";
    height: max-content;
    font-size: 2vh;
    font-size: 12px;
    line-height: 18px;
    display: none;
  }

  .artwork-links-container {
    height: 3.5vh;
    overflow: hidden;
    z-index: 10;
    width: 90vw;
    margin-top: 0;
  }

  .artwork-links {
    top: 0;
    width: 90vw;
    font-family: "Poppins";
    height: 3.5vh;
    font-size: 3vh;
    display: none;
  }

  .artwork-individual-link {
    height: 100%;
    margin-right: 7vw;
  }

  .link-icon {
    cursor: pointer;
  }

  .artwork-scroller {
    display: flex;
    position: relative;
    width: max-content;
    overflow: hidden;
  }

  .artwork-scroll-individual {
    z-index: 2;
    min-width: 6vw;
    background-color: #2b2b2b;
    height: 4px;
    /* border: 0.1vw solid #636363; */
    cursor: pointer;
  }

  .active-scroll {
    width: 1.5vw;
    /* border: 2px solid white; */
    height: 4px;
    background-color: white;
    left: 0;
  }

  .artwork-carousel {
    height: 30vh;
    width: 100%;
    position: relative;
    top: 0vh;
    overflow: hidden;
    margin-left: 0;
  }
  .artwork-img-container {
    position: relative;
    height: 100%;
    left: 0;
    width: calc(500%);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    white-space: nowrap;
    display: flex;
  }

  .artwork-img {
    display: inline-block;
    width: calc(100% - 24px);
    height: 100%;
    background: transparent;
    white-space: normal;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .artwork-img:hover {
    transform: scale(1.4);
  }

  .artwork-img > img {
    width: 100%;
    min-height: 100%;
  }
  #footer-wrapper {
    margin-top: 10vh;
  }
  .form-wrapper {
    margin-top: 8vh;
  }
  .blog {
    height: max-content;
    min-height: 0;
  }
  #blog-wrapper {
    height: max-content;
    padding-bottom: 8vh;
  }
  .scrolling-wrapper {
    transform: scale(1);
    margin-top: 7vh;
    width: calc(90vw - 24px);
    margin-right: 5vw;
    margin-left: 5vw;
    height: max-content;
  }
  .card {
    width: calc(90vw - 24px);
    margin-left: 8vw;
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .blogimage {
    width: calc(90vw - 24px);
    height: max-content;
    margin-bottom: 3vh;
  }
  .blogimage > img {
    height: auto;
    width: 100%;
  }
  .blogtitle {
    width: max-content;
    max-width: calc(68vw - 24px);
    min-width: 50vw;
    padding: 3vh 6vw;
    margin-right: 0;
  }
  .blogtitletitle {
    font-size: 0.9em;
  }
  .blogby {
    font-size: 0.8em;
  }
  .gear-background-svg {
    top: 200vh;
    position: absolute;
    left: -25vw;
  }
  .gear-background {
    fill: #161616;
  }
}

.heart {
  animation: beat 0.35s infinite alternate;
  transform-origin: center;
  margin: 0 10px;
}
@media all and (max-width: 1024px) and (min-width: 601px) {
  .page {
    padding: 40px;
  }
  .about-info-1,
  .about-info-2 {
    font: normal normal normal 1.4em / normal Poppins;
  }
  .icon {
    width: 30px;
  }
  .about-background {
    opacity: 0.05;
  }
  .about-picture {
    background-color: #2c2c2ccc;
  }
  .show-all-container {
    width: calc(99vw - 80px);
  }
  .show-all {
    font-size: 1.1em;
  }
  .show-all-arrow {
    height: 1.3em;
  }
  .infoHead1,
  .infoHead2 {
    font: normal normal 600 1em / normal Poppins;
  }
  .project-view-more {
    font-weight: normal;
    font-size: 1em;
  }
  .video {
    height: 40vh;
  }
  .video-name {
    font: normal normal 500 30px / normal Gilroy;
  }
  .card {
    width: calc(90vw - 80px);
  }
  .blogimage {
    width: calc(90vw - 80px);
  }
  .blogtitletitle {
    font-size: 1.2em;
  }
  .blogby {
    font-size: 1em;
  }
  .artwork-title {
    font-size: 1.6em;
    line-height: normal;
  }
  .artwork-name {
    font-size: 1em;
  }
  .link-icon {
    height: 0.8em;
  }
  .artwork-carousel {
    height: 45vh;
  }
  .inputs {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  textarea {
    padding: 20px 20px;
  }
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
#section07_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section07 {
  position: absolute;
  top: calc(95vh - 3 * 17px);
  /* left: calc(50vw - 0.706 * 12px); */
}
#section07 a span {
  position: absolute;

  width: 12px;
  height: 12px;
  margin-left: -6px;
  border-left: 2px solid #bebebec2;
  border-bottom: 2px solid #ffffffc4;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 10px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#section07 a span:nth-of-type(3) {
  top: 20px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
