nav {
    display: flex;
    justify-content: space-between;
    height: 20%;
    z-index: 117;
    position: absolute;
    width: 100%;

}
nav > div {
    margin: 12px;
    width: 75px;
}
.brand {
    width: 50%;
    font-size: 24px;
    letter-spacing: 9.6px;
    font-family: 'Jaapokki subtract', sans-serif;
    color: white;
}
/* .fonts-loaded .brand {
    font-family: 'Jaapokki subtract';
} */

.ham-line {
    width: 50%;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}
.ham-line:nth-of-type(2) {
    position: relative;
    left: -10%;
}

#navContainer {
    z-index: 100;
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    color: white;
    display: none;
    align-items: center;
    font-family: Gilroy;
}

.followContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10%;
    box-sizing: border-box;
}

.followContainer h3{
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: Gilroy-Medium;
}

.followContainer a{
    color: white;
    text-decoration: solid;
    margin: 1%;
    margin-left: 0;
}

.elementsContainer {
    display: flex;
    flex-direction: column;
    font-size: 4.2em;
    font-family: Gilroy-Heavy;
}

.elementsContainer a{
    color: white;
    text-decoration: solid;
}