html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  user-select: none;
  cursor: default;
  background: #050505;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

#navContainer {
  /* background: #1C2227; */
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  user-select: none;
  cursor: default;
}

.background {
  /* background-image: linear-gradient(to top left, #a18cd1 50%, #fbc2eb 50%); */
  background-image: url("../assets/img/team.jpg");
  filter: grayscale(100%);
  /* background-attachment: fixed; */
  position: fixed;
  background-position: center;
  background-size: cover;
  top: 0;
  z-index: -1;
  /* display: block; */
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.aboutArtwork {
  font-family: Poppins;
  color: white;
  width: 100%;
  padding: 0 8% 5%;
}

.landingSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingSection h1 {
  font-family: poppins-semibold;
  font-size: 8em;
  letter-spacing: 8px;
  text-align: center;
  text-shadow: 0px 3px 6px #00000033;
  color: white;
}

.cross {
  position: absolute;
  bottom: 5%;
  font-family: gilroy-bold;
  font-size: 1.5em;
  padding: 5px;
  background: #ffffff14;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.cross:hover {
  background: white;
}

.crossLine {
  position: absolute;
  width: 60%;
  background: white;
  height: 2px;
  border-radius: 50px;
  transition: 0.5s;
}

.cross:hover .crossLine {
  background: black;
}

.artworkWrapper {
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-evenly;
  padding: 10% 0;
  box-sizing: border-box;
  color: white;
  font-family: poppins;
  flex-wrap: wrap;
  font-size: 0.9em;
}
.aboutArtwork i {
  opacity: 0.6;
}
.aboutArtwork {
  margin-left: 1vw;
  margin-top: -2%;
}
.aboutArtwork h1 {
  margin-left: -1vw;
}
::-webkit-scrollbar {
  width: 0;
}

.teamContainer {
  width: 100%;
}

.departments {
  background: #2c2c2c;

  display: flex;

  width: 80%;

  justify-content: space-between;

  margin-bottom: 4%;

  /* flex-grow: 1; */
}

.departmentElement {
  width: 100%;
  text-align: center;
  padding: 2.5% 0;
  cursor: pointer;
}

.selected {
  /* padding: 2%; */

  color: #070507;

  font-weight: bold;

  background: white;
}

.teamName::before {
  content: "";
  width: 10%;
  background: #2196f3;
  height: 3px;
  margin-right: 2%;
}

.teamName {
  display: flex;

  color: #2196f3;

  align-items: center;
  margin: 10vh 0 1vh 0;
  letter-spacing: 2.5px;

  /* height: 2px; */

  /* display: block; */
}

.teamMembers {
  display: flex;

  padding: 0 10%;

  flex-wrap: wrap;

  justify-content: space-around;
}

.member {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3vh 0;
}

.member:before {
  content: "";
  display: block;
  position: relative;
  background: #2196f3;
  /* left: 50%; */
  width: 1.5px;
  border-radius: 0.75px;
  height: 10%;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 1;
  transition: 0.2s;
}

.member:hover:before {
  transform: scaleY(2);
}

.memberImage {
  width: 100%;

  height: 265px;

  display: flex;

  justify-content: center;

  align-items: center;

  overflow: hidden;

  -webkit-user-drag: none;

  filter: grayscale(100%) brightness(0.5);

  transition: 0.3s;
}

.memberImage img {
  height: 100%;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.memberName {
  text-transform: uppercase;

  color: #2196f3;

  letter-spacing: 3px;

  font-size: 1.3em;

  font-family: "Poppins-SemiBold";

  transform: translateY(-40%) scale(0.2);

  transform-origin: bottom left;
  text-align: center;
  transition: 0.3s;
}

.designation {
  font-family: "Poppins";

  transform: translateY(0%);

  font-size: 0.9em;

  color: #e0e0e0;
  text-align: center;
  transition: 0.3s;
}

.hide {
  opacity: 0;
}

.links {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  transition: 0.2s;
  transform: translateY(30%);
}
.links img {
  width: 20px;
}
.links a {
  text-decoration: none;
}

.member:hover .hide {
  opacity: 1;
}

.member:hover .memberName {
  transform: translateY(-40%) scale(1);
}

.member:hover .designation {
  transform: translateY(-50%) scale(1);
}

.member:hover .links {
  transform: translateY(0%);
}

.member:hover .memberImage {
  filter: grayscale(100%) brightness(1);
}

.custom-select {
  display: none;
  position: relative;
  text-transform: uppercase;
  /* font-family: Arial; */
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #2c2c2c;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  /* top: 14px; */
  right: 5%;
  width: 0;
  height: 0;
  transform: translateY(25%);
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  display: flex;
  color: #ffffff;
  padding: 4%;
  /* border: 1px solid transparent; */
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  align-items: center;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #2c2c2c;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 700px) {
  .member {
    width: 40%;
  }

  .teamMembers {
    padding: 2%;
  }

  .hide {
    opacity: 1;
  }

  .memberName {
    font-size: 1.3em;

    transform: translateY(-40%) scale(1);
  }

  .designation {
    font-size: 0.9em;
    transform: translateY(-50%) scale(1);
  }

  .links {
    width: 85%;
    z-index: 1;
    justify-content: space-around;
    transform: translateY(0%) scale(0.9);
  }
  .links img {
    width: 20px;
  }
  .memberImage {
    height: 200px;
  }

  .departments {
    display: none;
  }

  .custom-select {
    display: block;
    width: 90%;
  }
  .landingSection h1 {
    letter-spacing: 0;
  }
  .teamContainer {
    padding-bottom: 10vh;
  }
}

@media all and (max-width: 500px) {
  .landingSection h1 {
    font-size: 3em;
    text-align: center;
    letter-spacing: 0;
  }
  .artworkWrapper {
    font-size: 0.7em;
  }
  .column {
    padding: 5% 9%;
  }
  .artworkImage img {
    width: 100%;
  }
  .artworkContainer {
    font-size: 0.8em;
  }
  #navContainer {
    display: none;
  }
}
